<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <a href="#"><img src="http://placehold.it/320x250" alt=""></a>
        <div class="caption">
            <h4 class="product-name text-center"><a href="#">Product Name</a></h4>
            <h4 class="price text-center">$84.99</h4>
            <div class="group ">
                <ul class="list-inline text-center">
                    <li style="width: 30%"><a href="#" title="ajouter dans le panier"><i
                                    class="fa fa-cart-arrow-down fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="aimer"><i class="fa fa-thumbs-up fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="comparer"><i class="fa fa-refresh fa-2x"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <a href="#"><img src="http://placehold.it/320x250" alt=""></a>
        <div class="caption">
            <h4 class="product-name text-center"><a href="#">Product Name</a></h4>
            <h4 class="price text-center">$84.99</h4>
            <div class="group ">
                <ul class="list-inline text-center">
                    <li style="width: 30%"><a href="#" title="ajouter dans le panier"><i
                                    class="fa fa-cart-arrow-down fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="aimer"><i class="fa fa-thumbs-up fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="comparer"><i class="fa fa-refresh fa-2x"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <a href="#"><img src="http://placehold.it/320x250" alt=""></a>
        <div class="caption">
            <h4 class="product-name text-center"><a href="#">Product Name</a></h4>
            <h4 class="price text-center">$84.99</h4>
            <div class="group ">
                <ul class="list-inline text-center">
                    <li style="width: 30%"><a href="#" title="ajouter dans le panier"><i
                                    class="fa fa-cart-arrow-down fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="aimer"><i class="fa fa-thumbs-up fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="comparer"><i class="fa fa-refresh fa-2x"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <a href="#"><img src="http://placehold.it/320x250" alt=""></a>
        <div class="caption">
            <h4 class="product-name text-center"><a href="#">Product Name</a></h4>
            <h4 class="price text-center">$84.99</h4>
            <div class="group ">
                <ul class="list-inline text-center">
                    <li style="width: 30%"><a href="#" title="ajouter dans le panier"><i
                                    class="fa fa-cart-arrow-down fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="aimer"><i class="fa fa-thumbs-up fa-2x"></i> </a></li>
                    <li style="width: 30%"><a href="#" title="comparer"><i class="fa fa-refresh fa-2x"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>