<div id="page-wrapper">
    {{ form(form.options) }}
    <div class="row " id="submit-button">
        <div class="col-lg-2">
            <button type="reset" class="btn btn-block btn-warning">reset</button>
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-block btn-primary">valider</button>
        </div>

    </div>
    {{ form_end(form) }}

</div>