<div class="col">
    <ul class="category-links">
        {% for cat in category %}
        <li><a href="{{ path('category_show', {'slug': cat.slug}) }}">{{ cat.name }}</a></li>
        {% if loop.index!=0 and  loop.index%5 ==0 %}
            </ul>
        </div>
<div class="col">
    <ul class="category-links">
{% endif %}
{% endfor %}
</ul>
</div>