<div class="row">
    <div class="col-sm-4">
        <div class="box style2 bgcolor1 text-center">
            <div class="box-icon"><i class="icon icon-truck"></i></div>
            <h3 class="box-title">FREE SHIPPING</h3>
            <div class="box-text">Free shipping on all orders over $199</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box style2 bgcolor2 text-center">
            <div class="box-icon"><i class="icon icon-dollar"></i></div>
            <h3 class="box-title">garantie de remboursement</h3>
            <div class="box-text">100% garantie de remboursement</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box style2 bgcolor3 text-center">
            <div class="box-icon"><i class="icon icon-help"></i></div>
            <h3 class="box-title">SUPPORT EN LIGNE</h3>
            <div class="box-text">Service de soutien rapide 24/7</div>
        </div>
    </div>
</div>
