<div class="text-center bottom-space">
    <h1 class="size-lg no-padding">WELCOME TO <span class="logo-font custom-color">
            <img style="width: 100px" src="{{ asset('Assets/images/global-service-plus-logo.jpg') }}"
                 alt="global-service-plus">
        </span>
        STORE</h1>
    <div class="line-divider"></div>
    <p class="custom-color-alt">
        Conseils et systèmes informatiques

        Présentation Global service Plus

        Opérateur global de services de communication, d’ingénierie et d’infogérance, Global est une SSII indépendante
        créée en 2016 et spécialisée dans l’externalisation des systèmes Informatiques...

    </p>
</div>
