<div class="sub-menu">
    <div class="container">
        <div class="megamenu-left width-33">
            <a href="#bannerLink" class="banner-wrap">
                <div class="banner style-13 autosize-text image-hover-scale" data-fontratio="4">
                    <img src="{{ asset('Assets/images/navigation_img21.jpg')}}" alt="Banner">
                    <div class="banner-caption horc vertb" style="bottom: 3%;">
                        <div class="vert-wrapper">
                            <div class="vert">
                                <div class="text-1" style="color: #46bed7;">Nouveau PC</div>
                                <div class="text-2">Nouvelles tablettes</div>
                                <div class="banner-btn text-hoverslide" data-hcolor="#f82e56">
                                     <span>
                                         <span class="text">Portable</span>
                                         <span class="hoverbg"></span>
                                     </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="megamenu-categories column-3">
            <!-- megamenu column 1 -->
            <div class="col">
                <a class="category-image light" href="#">
                    <img src="{{ asset('Assets/images/template_images/images/category/megamenu-category-07.jpg')}}" alt />
                </a>
                <div class="category-title title-border">
                    <a href="#">Marque pc<span class="menu-label">HOT</span></a>
                </div>
                <ul class="category-links">
                    <li><a href="#">New In</a></li>
                    <li><a href="#">All Cameras</a></li>
                    <li><a href="#">All Camcorders</a></li>
                    <li><a href="#">Camera Accessories</a></li>
                    <li><a href="#">Camera Lenses</a></li>
                    <li><a href="#">Memory Cards</a></li>
                    <li><a href="#">Web Cameras</a></li>
                </ul>
            </div>
            <!-- /megamenu column 1 -->
            <!-- megamenu column 2 -->
            <div class="col">
                <a class="category-image light" href="#">
                    <img src="{{ asset('Assets/images/template_images/images/category/megamenu-category-09.jpg')}}" alt /></a>
                <div class="category-title title-border">
                    <a href="#">Category<span class="menu-label-alt">NEW</span></a>
                </div>
                <ul class="category-links">
                    <li><a href="#">No-Contract Phones & Plans</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Apple iPhone</a></li>
                    <li><a href="#">Mobile Hotspots & Plans<span class="menu-label">-15%</span></a></li>
                    <li><a href="#">Samsung Galaxy</a></li>
                    <li><a href="#">Prepaid Cell Phones</a></li>
                    <li><a href="#">SIM Cards</a></li>
                </ul>
            </div>
            <!-- /megamenu column 2 -->
            <!-- megamenu column 3 -->
            <div class="col">
                <a class="category-image light" href="#"><img src="{{ asset('Assets/images/template_images/images/category/megamenu-category-08.jpg')}}" alt /></a>
                <div class="category-title title-border">
                    <a href="#">Video Games<span class="menu-label">HOT</span></a>
                </div>
                <ul class="category-links">
                    <li><a href="#">PlayStation 4</a></li>
                    <li><a href="#">Xbox One</a></li>
                    <li><a href="#">Nintendo 3DS / 2DS</a></li>
                    <li><a href="#">Video Game Accessories></a></li>
                    <li><a href="#">Xbox Live Cards</a></li>
                    <li><a href="#">Strategy Guides</a></li>
                    <li><a href="#"><i class="icon icon-gift"></i> Gaming Gift Cards</a></li>
                </ul>
            </div>
            <!-- /megamenu column 3 -->
        </div>
    </div>
</div>
