
<div class="header-link header-search header-search">
    <div class="exp-search">
        <form action="{{ path('product_search') }}" method="post">
            <input class="exp-search-input " placeholder="Search here ..." type="search" value="">
            <input class="exp-search-submit" type="submit" value="">
            <span class="exp-icon-search">
               <i  class="icon icon-magnify"></i>
            </span>
            <span class="exp-search-close">
                <i class="icon icon-close"></i>
            </span>
        </form>
    </div>
</div>